<a href="https://colab.research.google.com/github/tunip0067/NLP_2023/blob/main/1006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add(a, b):
    return a + b

In [3]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [4]:
def add(a, b):
    return a+b

print(add(3, 4))

7

In [5]:
a = add(3, 4)
print(a)

7

In [7]:
def say():
    return 'Hi'

In [8]:
a = say()
print(a)

Hi

In [9]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [10]:
add(3, 4)

3, 4의 합은 7입니다.

In [12]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [14]:
def say():
    print('Hi')
say()

Hi

In [16]:
def sub(a, b):
    return a - b

result = sub(a=7, b=3)
print(result)

4

In [17]:
result = sub(b=5, a=3)
print(result)

-2

In [19]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [20]:
result = add_many(1,2,3)
print(result)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [21]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [23]:
result = add_mul('add', 1,2,3,4,5)
print(result)

result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [24]:
def print_kwargs(**kwargs):
    print(kwargs)

In [25]:
print_kwargs(a=1)
print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [29]:
def add_and_mul(a,b):
    return a+b, a*b
result = add_and_mul(3,4)
print(result)

(7, 12)

In [31]:
def add_and_mul(a,b):
    return a+b
    return a*b

result = add_and_mul(2, 3)
print(result)

5

In [34]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s 입니다." % nick)

say_nick('야호')

나의 별명은 야호 입니다.

In [35]:
say_nick('바보')

In [36]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [37]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [38]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [39]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [43]:
def say_myself(name, man=True, age):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
say_myself("박응용", 27)

#초기화하고 싶은 매개변수는 항상 뒤쪽에 놓아야 한다

SyntaxError: ignored

In [44]:
a = 1
def vartest(a):
    a = a +1

vartest(a)
print(a)

1

In [49]:
def vartest(hello):
    hello = hello + 1

In [46]:
def vartest(a):
    a = a + 1

vartest(3)
print(a)

1

In [50]:
a = 1
def vartest(a):
    a = a +1
    return a

a = vartest(a)
print(a)

2

In [52]:
a = 1
def vartest():
    global a
    a = a+1

vartest()
print(a)

2

In [53]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [54]:
def add(a, b):
    return a+b

result = add(3, 4)
print(result)

7