<a href="https://colab.research.google.com/github/tunip0067/NLP_2023/blob/main/1117.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add_txt(t1,t2):
  print (t1 + t2)

def add_txt(t1, t2):
    result = t1 + t2
    return result

In [2]:
def add_txt(t1, t2):
    result = t1 + t2
    return result

text1 = "나는 꿈꾸었네, "
text2 = "천지 만물이 노래하며 깨어나는 영원의 순간을!"

combined_text = add_txt(text1, text2)
print(combined_text)

나는 꿈꾸었네, 천지 만물이 노래하며 깨어나는 영원의 순간을!

In [3]:
def add_number(n1,n2):
  print(n1 + n2)

def add_number(n1,n2):
  result = n1 + n2
  return result

In [4]:
name = "Alice"
score = 95
age = 18


test_result = "You scored %d on the test." % score
print(test_result)

greeting = "Hello, %s! You turn to %d years old finally." % (name, age)
print(greeting)



print("You scored %d on the test." %score)
print("Hello, %s! You turn to %d years old finally." %(name, age))

You scored 95 on the test.
Hello, Alice! You turn to 18 years old finally.
You scored 95 on the test.
Hello, Alice! You turn to 18 years old finally.

In [6]:
def add(a, b):
    result = a + b
    return result

num1 = 236263753847
num2 = 9178

sum_result = add(num1, num2)

print("The sum of %d and %d is %d" % (num1, num2, sum_result))

The sum of 236263753847 and 9178 is 236263763025

In [7]:
def add_and_print(a, b):
    result = a + b
    print("The sum of %d and %d is %d" % (a, b, result))
    return result

sum_result = add_and_print(3, 4)

The sum of 3 and 4 is 7

In [8]:
def func_uncertain(*args):
  print(args)

func_uncertain()

func_uncertain(1, 2, 3)
func_uncertain('apple', 'banana', 'cherry', 'date')
func_uncertain(True)

()
(1, 2, 3)
('apple', 'banana', 'cherry', 'date')
(True,)